# Explore NEO data with [Glue](http://docs.glueviz.org/en/stable/index.html)

NEO data were downloaded from the [JPL Small-Body Database](https://ssd.jpl.nasa.gov/sbdb_query.cgi), and the [NEO Earth Close Approaches archive](https://cneos.jpl.nasa.gov/ca/).

In [1]:
import pandas as pd

## [JPL Small-Body Database](https://ssd.jpl.nasa.gov/sbdb_query.cgi)

In [4]:
#the low_memory=False flag suppresses a warning message for a few columns with mixed data types 
neo = pd.read_csv('data/sbdb_query_results.csv', low_memory=False) 
neo.iloc[:3]

,id,spkid,full_name,pdes,name,prefix,neo,pha,H,G,...,n_obs_used,n_del_obs_used,n_dop_obs_used,condition_code,rms,two_body,A1,A2,A3,DT
0,a0000433,2000433,433 Eros (A898 PA),433,Eros,NaN,Y,N,10.43,0.46,...,9130,4.0,2.0,0.0,0.29796,NaN,NaN,NaN,NaN,NaN
1,a0000719,2000719,719 Albert (A911 TB),719,Albert,NaN,Y,N,15.51,NaN,...,1894,NaN,NaN,0.0,0.39775,NaN,NaN,NaN,NaN,NaN
2,a0000887,2000887,887 Alinda (A918 AA),887,Alinda,NaN,Y,N,13.87,-0.12,...,2624,NaN,NaN,0.0,0.39776,NaN,NaN,NaN,NaN,NaN

## [NEO Earth Close Approaches archive](https://cneos.jpl.nasa.gov/ca/)

(I cleaned the data file so that it can be used more easily; see the data/prepNEOdata.ipynb.)

In [7]:
neoCA = pd.read_csv('data/cneos_closeapproach_data-cleaned.csv')
neoCA.iloc[:3]

,pdes,Object,Close-Approach (CA) Date,CA Distance Nominal (AU),CA Distance Minimum (AU),V relative (km/s),V infinity (km/s),H (mag),Diameter (km),extra
0,509352,509352 (2007 AG),1900.096844,0.00963,0.00963,8.69,8.65,20.1,410000.0,a0509352
1,2014 SC324,(2014 SC324),1900.113578,0.03997,0.03997,10.65,10.65,24.3,59500.0,bK14SW4C
2,2012 UK171,(2012 UK171),1900.118827,0.04982,0.04982,7.16,7.15,24.4,55500.0,bK12UH1K